<h1>Accueil</h1>
<p>Bienvenue dans ce gran bato Mousayon!</p>
<p>Partage ici:</p>
<ul>
  <li>tes tâches </li>
  <li>ton tâches de ménage </li>
  <li>les endroits que tu as visité </li>
</ul>
<p>tu peux aussi:</p>
<ul>
  <li>naviguer grâce au menu </li>
  <li>tout voir ajouté sur la page d'accueil </li>
  <li><%=link_to "t'inscrir","/users/sign_up"%> </li>
</ul>
<h3>Places</h3>
<div data-chat-table="places" id="places">
  <table>
  </table>

</div>
<h3>Tasks</h3>
<div data-chat-table="placetasks" id="tasks">
  <table>
  </table>

</div>
<h3>Tasks ménagère</h3>
<div data-chat-table="awesometasks" id="awesometasks">
  <table>
  </table>

</div>

