<div id="<%= dom_id placetask %>">
  <p>
    <strong>Name:</strong>
    <%= placetask.name %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= placetask.place.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= placetask.user.username %>
  </p>

</div>
