<div id="<%= dom_id placetask %>">
  <p>
    <strong>Name:</strong>
    <%= placetask.name %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= placetask.place_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= placetask.user_id %>
  </p>

</div>
