<h1>Editing placetask</h1>

<%= render "form", placetask: @placetask %>

<br>

<div>
  <%= link_to "Show this placetask", @placetask %> |
  <%= link_to "Back to placetasks", placetasks_path %>
</div>
