<div id="<%= dom_id country %>">
  <p>
    <strong>Country:</strong>
    <%= country.country %>
  </p>

  <p>
    <strong>Unicode:</strong>
    <%= country.unicode %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= country.phone %>
  </p>

</div>
